@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our unique gaming console store. Take a look at our products list (link above).</p>
</div>
